:root {
    --title-font-family: 'Seymour One', sans-serif;
    --main-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Roboto', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}