:root {
  --font-family: 'Roboto', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --ogange: #ff6b08;
  --ogange-two: #ff6b01;
  --gray-light: #f7f7f7;
  --footer-font: #545454;
  --header-line: #ff001b;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
