<header class="header">
  <div class="header-container">
    <div class="header-wrapper">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo__svg"  height="24px" width="24px">
          <use href="./images/symbol-defs.svg#icon-film" ></use>
        </svg>
        <p class="header-logo__text">Filmoteka</p>        
      </a>

      <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__menu">
          <a href="./index.html" class="header-nav__menu-link header-nav__menu-link_current">HOME</a> 
        </li>
        <li class="header-nav__menu">
          <a href="./library.html" class="header-nav__menu-link">MY LIBRARY</a>
        </li>
        </li>
      </ul>  
      </nav>   
    </div>

  <div class="header-search">
    <form class="header-search__wrapper">
      <input class="header-search__input" type="text"
          name="query" autocomplete="off"    placeholder="Movie search"/>
          <button type="submit" class="btn-search">
           <svg class="btn-search__svg "  height="12px" width="12px">
          <use href="./images/symbol-defs.svg#icon-search-2" ></use>
        </svg> 
          </button>
    </form>
  </div>

  </div>
</header>
