<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="header-logo">
        <p class="header-logo__text">Filmoteka</p>
      </a>

      <naw class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__home">HOME</li>
        <li class="header-nav__library">MY LIBRARY</li>
        </li>
      </ul>  
      </naw>   
    </div>

  <div class="header-search">
    <form class="header-search__wrapper">
      <input class="header-search__input" placeholder="Movie search">
    </form>
  </div>

  </div>
</header>
