<header class="header-library">
  <div class="container">
    <naw class="header-library-nav">
      <a href="./index.html" class="header-library-logo">
        <svg class="header-logo__svg" height="24px" width="24px">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <p class="header-library-logo__text">Filmoteka</p>
      </a>
      <ul class="header-library-nav__list">
        <li class="header-library-nav__item">
          <a class="header-library__link" href="./index.html">HOME</a>
        </li>
        <li class="header-library-nav__item">
          <a
            class="header-library__link header-library__link__current"
            href="./library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </naw>

    <div class="header-library-box-button">
      <button class="header-library__button watchedBtnLb">WATCHED</button>
      <button class="header-library__button queueBtnLb">QUEUE</button>
    </div>
  </div>
</header>
