<div class="is-hidden" data-modal></div>
<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button type="button" class="modal-close-btn button" data-modal-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="/src/images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <img
      class="modal-movie-img"
      src="/src/images/header-watched-1280/Rectangle 1@3x-min.jpg"
      alt=""
    />
    <div modal-tab-container>
      <h2 class="modal-movie-title">A FISTFUL OF LEAD</h2>
      <table>
        <tr class="modal-row">
          <td class="modal-movie-desc modal-movie-votes">Vote / Votes</td>
          <td class="modal-movie-data">7.3 / 1260</td>
        </tr>
        <tr class="modal-row">
          <td class="modal-movie-desc modal-movie-popularity">Popularity</td>
          <td class="modal-movie-data">100.2</td>
        </tr>
        <tr class="modal-row">
          <td class="modal-movie-desc modal-movie-original-title">
            Original Title
          </td>
          <td class="modal-movie-data">A FISTFUL OF LEAD</td>
        </tr>
        <tr class="modal-row">
          <td class="modal-movie-desc modal-movie-genre">Genre</td>
          <td class="modal-movie-data">Western</td>
        </tr>
      </table>

      <h4 class="modal-movie-about-title">About</h4>
      <p class="modal-movie-description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="modal-btns">
        <button type="button" class="modal-form-watched-bnt">
          Add to watched
        </button>
        <button type="button" class="modal-form-queue-bnt">Add to queue</button>
      </div>
    </div>
  </div>
</div>
