<div class="team-backdrop is-hidden" data-team-modal>
  <div class="team-modal">
    <button type="button" class="team-modal__close-button">
      <svg width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team-list js-team-list">
      <div class="team-card">
        <img
          class="team-card__img"
          src="./images/team/Serhiy-Shvetskov.jpg"
          alt="Serhiy Shvetskov"
          width="200px"
          height="250px"
        />
        <div class="team-card__info">
          <h3 class="team-card__title">Serhiy Shvetskov</h3>
          <p class="team-card__text">Team Lead</p>
          <ul class="team-card__list">
            <li class="team-card__item">
              <a
                class="team-card__link"
                href="https://github.com/SergeyShvetskov"
              >
                <svg width="30" height="30">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="team-card__item">
              <a
                class="team-card__link"
                href="https://www.linkedin.com/in/sergeyshvetskov/"
              >
                <svg width="30" height="30">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-card__item">
              <a class="team-card__link" href="mailto:svetsoff@gmail.com">
                <svg width="30" height="30">
                  <use href="./images/symbol-defs.svg#icon-message"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
