.to__top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 999;
    opacity: 0;
      
    transition: opacity 500ms linear;
    @media screen and (min-width: 768px) {
        right: 35px;
    }
}
.to__top--icon {
    width: 45px;
    height: 45px;
    fill:var(--ogange);
    }
.to__top--icon:hover,
.to__top--icon:focus {
    fill: var(--white);
    background: var(--ogange);
    border: 2px solid var(--ogange);
    border-radius: 50%;
    }
.to__top--show {
    opacity: 1;}